/*
$main-color: #55c57a;
$main-color-dark: #28b485;
$main-color-light:  #7ed56f;
*/
/*  ALL THE UTILITIES*/
.u-text-align {
  text-align: center; }

.u-head-padding-big {
  padding-bottom: 8rem; }

.u-head-padding-mediun {
  padding-bottom: 4rem; }

.u-head-padding-small {
  padding-bottom: 2rem; }

.u-border {
  border: 2px solid black; }

.dark-mode {
  filter: invert(1) hue-rotate(180deg); }

.invert {
  filter: invert(1) hue-rotate(180deg); }

#darkMode {
  position: fixed;
  left: 4rem;
  bottom: 2rem;
  z-index: 100;
  border: none;
  background-color: transparent;
  color: black;
  outline: none; }

#darkMode:active {
  outline: none; }

.darkMode__logo {
  width: 4rem; }

/* MIXINS*/
/*
0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + :      Big desktop

$breakpoint arguement choices:
- phone
- tab-port
- tab-land
- big-desktop

ORDER: Base + typography > general layout + grid > page layout > components

1em = 16px
*/
/* ALL TEH ANIMATIONS ARE ON THE TOP*/
@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translatey(10rem); }
  100% {
    opacity: 1;
    transform: translatey(0); } }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px); }
  80% {
    transform: translateX(2rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  padding: 3rem;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7;
  color: #777; }

.header {
  height: 95vh;
  background-image: linear-gradient(to right bottom, rgba(255, 185, 0, 0.7), rgba(255, 119, 0, 0.7)), url(../img/hero_.me.jpg);
  background-size: cover;
  background-position: center;
  z-index: 100;
  /*
   clip-path: polygon(50% 0,100% 50%,50% 100%,0 50%); this is a hexagon trimig option
      */
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  position: relative; }
  .header__logo-box {
    position: absolute;
    top: 4rem;
    left: 4rem; }
  .header__logo {
    height: 5rem; }
  .header__text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  display: block;
  backface-visibility: hidden;
  margin-bottom: 4rem; }
  .heading-primary--main {
    display: block;
    font-size: 6rem;
    font-weight: 700;
    letter-spacing: 2rem;
    backface-visibility: hidden;
    animation-name: moveInLeft;
    animation-duration: 1s; }
  .heading-primary--sub {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 2.1rem;
    backface-visibility: hidden;
    animation-name: moveInRight;
    animation-duration: 1s; }

.btn-inline {
  display: inline-block; }

.btn, .btn:link, .btn:visited {
  text-decoration: none;
  text-transform: uppercase;
  padding: 1rem 4rem;
  border-radius: 10rem;
  transition: all 0.3s;
  border: none;
  cursor: pointer; }

.btn:hover, .btn:focus {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); }

.btn:active, .btn:focus {
  outline: none;
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.btn--white {
  background-color: white;
  color: #777; }

.btn--orange {
  background-image: linear-gradient(to bottom right, #ffb900, #ff7700);
  color: #fff; }

.btn--animated {
  backface-visibility: hidden;
  animation-name: moveInBottom;
  animation-duration: 1s; }

.navigation__checkbox {
  display: none; }

.navigation__button {
  background-color: white;
  height: 7rem;
  width: 7rem;
  position: fixed;
  top: 6rem;
  right: 6rem;
  border-radius: 50%;
  z-index: 888000;
  text-align: center;
  cursor: pointer; }

.navigation__background {
  height: 5rem;
  width: 5rem;
  position: fixed;
  top: 7rem;
  right: 7rem;
  background-image: linear-gradient(to left, #ffb900, #ff7700);
  z-index: 1000;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
  transition: transform 0.8s;
  /*
        //this is what I need to happen after the button is pressed
        height: 100%;
        width: 25%;
        top: 0;
        right: 0;
        */ }

.navigation__nav {
  height: 100vh;
  width: 25%;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 3000;
  opacity: 0;
  width: 0;
  transition: opacity 0.8s; }

.navigation__list {
  width: 100%;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(0, -50%);
  list-style: none;
  text-align: center; }

.navigation__item {
  margin: 1rem; }

.navigation__link:link, .navigation__link:visited {
  display: inline-block;
  font-size: 3rem;
  color: white;
  padding: 1rem 2rem;
  text-decoration: none;
  text-transform: uppercase;
  background-image: linear-gradient(120deg, transparent 0%, transparent 50%, white 50%);
  background-size: 240%;
  transition: all 0.6s; }

.navigation__link:hover, .navigation__link:active {
  background-position: 100%;
  color: #ff7700; }

.navigation__checkbox:checked ~ .navigation__background {
  height: 100%;
  width: 25%;
  top: 0;
  right: 0; }

.navigation__checkbox:checked ~ .navigation__nav {
  opacity: 1;
  width: 25%; }

.navigation__icon {
  position: relative;
  margin-top: 3.2rem; }
  .navigation__icon, .navigation__icon::after, .navigation__icon::before {
    width: 3rem;
    height: 2px;
    background-color: #333136;
    display: inline-block; }
  .navigation__icon::after, .navigation__icon::before {
    content: "";
    position: absolute;
    right: 0;
    transition: all 0.2s; }
  .navigation__icon::before {
    top: 0.8rem; }
  .navigation__icon::after {
    top: -0.8rem; }

.navigation__button:hover .navigation__icon::before {
  top: 1rem; }

.navigation__button:hover .navigation__icon::after {
  top: -1rem; }

.navigation__checkbox:checked + .navigation__button .navigation__icon {
  background-color: transparent; }

.navigation__checkbox:checked + .navigation__button .navigation__icon::before {
  transform: rotate(135deg);
  top: 0; }

.navigation__checkbox:checked + .navigation__button .navigation__icon::after {
  transform: rotate(-135deg);
  top: 0; }

/* ABOUT ME */
.about-me {
  background-color: #f1f1f1;
  padding: 25rem;
  padding-bottom: 45rem;
  margin-top: -25rem;
  clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%);
  position: relative;
  z-index: 99; }

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  letter-spacing: 2px;
  transition: all 0.2s; }
  .heading-secondary--1 {
    background-image: linear-gradient(to right, #ffb900, #ff7700);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent; }
  .heading-secondary--2 {
    background-image: linear-gradient(to right, #fff, #eee);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent; }
  .heading-secondary:hover {
    transform: skewY(2deg);
    text-shadow: 0.5rem 1rem 3rem black; }

.row {
  display: flex; }

.row-spacer {
  height: 100%;
  margin-top: 10rem; }

.col-1-of-2 {
  flex: 1; }
  .col-1-of-2:not(:last-child) {
    margin-right: 14rem; }

.header-trd {
  font-size: 2rem;
  text-transform: uppercase;
  text-align: center; }

.composition {
  position: relative; }
  .composition__photo {
    z-index: 10;
    width: 50%;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.8);
    border-radius: 2px;
    position: absolute;
    transition: all 0.2s;
    outline-offset: 2rem; }
    .composition__photo--p1 {
      left: 0;
      top: -2rem; }
    .composition__photo--p2 {
      right: 3rem;
      top: 4rem; }
    .composition__photo--p3 {
      left: 4rem;
      top: 14rem; }
    .composition__photo:hover {
      outline: 1.5rem solid #ff7700;
      transform: scale(1.1);
      box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.8);
      z-index: 20; }
  .composition:hover .composition__photo:not(:hover) {
    transform: scale(0.8); }

.features {
  background-color: #ff7700;
  padding: 25rem 10rem 45rem 10rem;
  margin-top: -32rem;
  clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%); }

.feature {
  border-radius: 1rem;
  width: 24rem;
  height: 40rem;
  background-color: #eee;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.8);
  transition: all 0.2s; }
  .feature:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); }

.feature__logo {
  padding-top: 4rem;
  padding-bottom: 2rem;
  display: block;
  width: 15rem;
  margin: 0 auto; }

.feature__text {
  text-align: center;
  padding: 0 2rem 2rem 2rem; }

.projects {
  padding: 30rem 10rem 15rem 10rem;
  background-color: #eee;
  margin-top: -35rem; }
  .projects--button {
    margin-top: 10rem;
    position: relative;
    text-align: center; }

.card {
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 50rem;
  width: 100%;
  text-align: center; }
  .card__side {
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.8);
    backface-visibility: hidden;
    height: 50rem;
    width: 100%;
    transition: all 0.5s ease;
    position: absolute;
    top: 0;
    left: 0; }
    .card__side--front {
      background-color: white;
      background-size: 100% 100%;
      background-repeat: no-repeat; }
      .card__side--front-1 {
        background-image: url(../img/project-1.jpg); }
      .card__side--front-2 {
        background-image: url(../img/project-2.png); }
      .card__side--front-3 {
        background-image: url(../img/project-3.png); }
      .card__side--front-1-1 {
        background-image: url(../img/project-1-1..jpg); }
      .card__side--front-2-2 {
        background-image: url(../img/project-2-2.jpg); }
      .card__side--front-3-3 {
        background-image: url(../img/project-3-3.jpg); }
    .card__side--back {
      padding-top: 20%;
      transform: rotateY(180deg); }
      .card__side--back-1 {
        background-image: linear-gradient(to bottom right, #7ed56f, #28b485); }
      .card__side--back-2 {
        background-image: linear-gradient(to bottom right, #ffb900, #ff7700); }
      .card__side--back-3 {
        background-image: linear-gradient(to bottom right, #2998ff, #5643fa); }
  .card:hover .card__side--front {
    transform: rotateY(-180deg); }
  .card:hover .card__side--back {
    transform: rotateY(0deg); }

.project-logo {
  padding-bottom: 4rem;
  color: white;
  display: block;
  width: 5rem;
  margin: 0 auto; }

.project-title {
  text-align: center;
  font-size: 4rem;
  font-weight: 700;
  text-transform: uppercase;
  color: white;
  padding: 0 1.2rem 1rem 1.2rem;
  margin-bottom: 4rem; }

.project-description {
  color: #fff;
  padding: 3rem 5rem; }

.card--image {
  width: 50rem;
  height: 100%; }

.section-contact {
  padding: 15rem 0;
  background-image: linear-gradient(to bottom right, #ffb900, #ff7700); }

.margin {
  margin: 0 15rem; }

.contact-container {
  background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.9) 50%, transparent 50%), url(../img/section-contact-image.jpg);
  background-size: cover;
  border-radius: 3px;
  box-shadow: 0 1.5 4rem rgba(0, 0, 0, 0.2);
  height: 50rem; }
  .contact-container__form {
    width: 50%;
    height: 100%;
    padding: 6rem;
    border: none; }

.form__group:not(:last-child) {
  margin-bottom: 2rem; }

.form__input {
  color: inherit;
  font-size: 1.5rem;
  font-family: inherit;
  padding: 1.5rem 2rem;
  border-radius: 2px;
  background-color: rgba(255, 255, 255, 0.7);
  border-bottom: 3px solid transparent;
  border: none;
  width: 90%;
  display: block;
  transition: all 0.3s; }
  .form__input::-webkit-input-placeholder {
    color: #777; }
  .form__input:focus {
    outline: none;
    border-bottom: 3px solid #ff7700;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1); }
    .form__input:focus:valid {
      border-bottom: 3px solid #7ed56f; }

.form__label {
  display: block;
  font-size: 1.2rem;
  font-weight: 700;
  margin-left: 2rem;
  margin-top: 0.7rem;
  transition: all 0.5s; }

.form__input:placeholder-shown + .form__label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-4rem); }

.form__text {
  display: block;
  width: 90%;
  padding: 1.5rem 2rem;
  color: #ff7700; }

.footer {
  display: flex;
  width: 100%;
  height: 7rem;
  background-color: #333136; }
  .footer__text {
    flex: 2;
    padding: 2rem;
    padding-left: 4rem; }
  .footer__buttons {
    flex: 1;
    padding: 2rem;
    margin-left: 30%; }

footer div a img {
  flex: 1;
  height: 32px;
  margin-right: 2rem; }
